@import "tailwindcss";

@layer components {
  .btn {
    @apply bg-[#f8f9fa] rounded-lg text-sm text-gray-800 hover:ring-1 hover:ring-gray-200 focus:outline-none active:ring-gray-300 w-35 h-10 hover:shadow-md transition-shadow;
  }
  .link {
    @apply hover:underline cursor-pointer;
  }
  .header-icon {
    @apply bg-transparent hover:bg-gray-200 text-4xl p-2 rounded-full cursor-pointer;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --bg: #1f1f1f;
}

body {
  background-color: var(--bg);
}
